@import "tailwindcss";

@layer utilities {
      /* Chrome, Safari, and Opera */
      .scrollbar-hidden::-webkit-scrollbar {
        display: none;
      }

      /* Firefox */
      .scrollbar-hidden {
        scrollbar-width: none;
      }

      /* IE and Edge */
      .scrollbar-hidden {
        -ms-overflow-style: none;
      }
}

@theme {
  --font-sans: var(--font-poppins-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins, sans-serif;
}